﻿<!DOCTYPE html>
<html ng-app="titlesApp"  ng-csp>
<head>
    <meta charset="utf-8" />
    <title>Titles</title>
        

    <!-- jQuery -->
    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <!-- AngularJS-->

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-resource.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-route.js"></script>
    <script src="app.js"></script>
</head>
<body ng-cloak>
    
    <div class="container-fluid">
        <div ng-controller="TitlesController">

            <h2>Titles List</h2>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="Title">Search By Title</label>
                        <input name="SearchName" type="text" class="form-control" placeholder="Enter title" ng-model="SearchName" ng-mouseup="resetDetails()" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Title Id</th>
                                <th>Title Name</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="title in Titles | filter: {TitleName:SearchName}">
                                <td>{{title.TitleId}}</td>
                                <td>{{title.TitleName}}</td>
                                <td>
                                    <button ng-click="getTitle($event)" id="{{title.TitleId}}" class="btn btn-default btn-xs">detail</button>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>




            <h2>Title Details</h2>
            <div class="row">
                <div class="col-md-6">

                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>TitleId</th>
                                <th>TitleName</th>
                                <th>TitleNameSortable</th>
                                <th>ReleaseYear</th>
                                <th>ProcessedDateTimeUTC</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td ng-bind="Title.TitleId"></td>
                                <td ng-bind="Title.TitleName"></td>
                                <td ng-bind="Title.TitleNameSortable"></td>
                                <td ng-bind="Title.ReleaseYear"></td>
                                <td ng-bind="Title.ProcessedDateTimeUTC"></td>
                            </tr>
                        </tbody>
                    </table>
                    <p>
                        <a href="index.html" class="btn btn-primary">Back to list</a>
                    </p>
                </div>
            </div>
        </div>
        </div>

         
</body>
</html>