﻿
 <h1>Title Details</h1>

<div class="row">
    <div class="col-md-5">
        
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>TitleId</th>
                <th>TitleName</th>
                <th>TitleNameSortable</th>
                <th>ReleaseYear</th>
                <th>ProcessedDateTimeUTC</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="title in titles">
                <td>{{title.TitleId}}</td>
                <td>{{title.TitleName}}</td>
                <td>{{title.TitleNameSortable}}</td>
                <td>{{title.ReleaseYear}}</td>
                <td>{{title.ProcessedDateTimeUTC}}</td>
            </tr>
        </tbody>
    </table>

        <p>
       <a href="/api/title" class="btn btn-primary">Back to list</a>
       </p>

    </div>
</div>



 