﻿ 
<h1>Titles List</h1>
<div class="row">
    <div class="col-md-5">
        <div class="form-group">
                <label for="Title">Title Name</label>
                <input name="TitleName" type="text" class="form-control" placeholder="Enter title" ng-model="Title.TitleName">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Title Name</th>                                                  
                    <th></th>                          
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="title in titles | filter:TitleName">
                    <td>{{title.TitleName}}</td>
                    <td>
                        <a href="/View/Details/{{title.Id}}" class="btn btn-default btn-xs">detail</a>                    
                    </td>
                                
                </tr>
            </tbody>
        </table>         
    </div>
</div>